<!DOCTYPE html>
<html>
  <head>
    <title>Pinteresque</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag 'application' %>

    <script>
      window.round_logo ="<%= image_url("pinterest_logo.png") %>"
    </script>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
